.hero {
    height: 250px;
    background: linear-gradient(135deg, #007bff, #6610f2);
}

.logo {
    height: 80px;
}

.btn-gradient {
    background: linear-gradient(135deg, #007bff, #6610f2);
    color: #fff;
    border: none;
    transition: 0.3s;
}
.btn-gradient:hover {
    background: linear-gradient(135deg, #6610f2, #007bff);
    transform: scale(1.02);
}

.card {
    border-radius: 12px;
}
